* {
    padding: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.wrap {
    max-width: 100%;
    height: 100vh;
}

section:nth-of-type(1) {
    background: -webkit-linear-gradient(45deg, #816b7b, #32697d, #816b7b);
    background: -moz-linear-gradient(45deg, #816b7b, #32697d, #816b7b);
    background: -o-linear-gradient(45deg, #816b7b, #32697d, #816b7b);
    background: linear-gradient(45deg, #816b7b, #32697d, #816b7b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(1) > h1 {
    font-family: '微软雅黑';
    text-align: center;
    font-size: 28px;
    letter-spacing: 5px;
    align-items: center;
    padding: 1em 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    min-width: 10em;
    max-width: 20rem;
    color: white;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}
section:nth-of-type(2) > h2 {
    margin-bottom: 2em;
}
section:nth-of-type(2) > div {
    padding: 1em;
    max-width:60em;
    text-align: left;
}
section:nth-of-type(2) > div > p {
    text-indent: 2em;
    line-height: 25px;
}

sextion:nth-of-type(3),sextion:nth-of-type(4),sextion:nth-of-type(5) {
    display:flex;
    flex-direction:column;
    algin-items:center;
    margin-top:2em;
}
